.App {
  text-align: center;
}

html, body, #root {
  margin: 0;
  padding: 0px;
  height: 100%;
}



.app-background {
  background-image:
    var(--pattern-lines),
    var(--pattern-circle),
    var(--pattern-squiggly-line-bottom),
    var(--pattern-squiggly-line-top),
    var(--bg-desktop);

  background-repeat: repeat-x, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center top, 70% 90%, bottom left, top right, center center;
  background-size: 1200px auto, 200px auto, 500px auto, 400px auto, cover;
  min-height: 100vh;
  width: 100%;
}
